$font-size-base: 10px;
$font-family-base: "Suisse Int'l Book";
$font-size-h1: 80px;
$line-height-h1: 80px;
$font-size-h2: 24px;
$line-height-h2: 32px;
$font-size-h3: 16px;
$line-height-h3: 24px;
$font-size-h4: 12px;
$line-height-h4: 20px;
