@font-face {
  font-display: swap;
  font-family: "Suisse Int'l Book";
  font-stretch: 100%;
  font-style: normal;
  font-weight: normal;
  src: url("/src/assets/fonts/SuisseIntl-Book-WebM.ttf") format("truetype");
}

body {
  font-family: "Suisse Int'l Book";
}
