VITE_SETTINGS_URL=https://razuvaev-admin-ng.website.yandexcloud.net/settings.json
VITE_API_URL=https://bbafo00lvo6me2t4idr8.containers.yandexcloud.net
VITE_MEDIA_BASE_URL=https://bbafo00lvo6me2t4idr8.containers.yandexcloud.net/api
